@{
    ViewData["Title"] = "Lab 2";
}

<div class="text-center">
    <table class="table table-striped-columns">
        <thead>
            <tr>
                <th scope="col">TMHandbook</th>
                <th scope="col">ProductHandbook</th>
                <th scope="col">PriceList</th>
                <th scope="col">Realisation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/trademarks/select" type="button" class="btn btn-primary">SELECT</a></td>
                <td><a href="/products/select" type="button" class="btn btn-primary">SELECT</a></td>
                <td><a href="/pricelist/select" type="button" class="btn btn-primary">SELECT</a></td>
                <td><a href="/realization/select" type="button" class="btn btn-primary">SELECT</a></td>
            </tr>
            <tr>
                <td><a href="/trademarks/insert" type="button" class="btn btn-success">INSERT</a></td>
                <td><a href="/products/insert" type="button" class="btn btn-success">INSERT</a></td>
                <td><a href="/pricelist/insert" type="button" class="btn btn-success">INSERT</a></td>
                <td><a href="/realization/insert" type="button" class="btn btn-success">INSERT</a></td>
            </tr>
            <tr>
                <td><a href="/trademarks/update" type="button" class="btn btn-warning">UPDATE</a></td>
                <td><a href="/products/update" type="button" class="btn btn-warning">UPDATE</a></td>
                <td><a href="/pricelist/update" type="button" class="btn btn-warning">UPDATE</a></td>
                <td><a href="/realization/update" type="button" class="btn btn-warning">UPDATE</a></td>
            </tr>
        </tbody>
    </table>
</div>

